*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    margin-right: 2rem;
}
.calculator{
    background: #3a4452;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}
.calculator input{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 24px;
    color: #e3f9ff;
}
.calculator button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.display{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px 0;
    height: 50px;

}
.previous,
.current{
    text-align: right;
    flex: 1;
    font-size: 45px;
    color: #e3f9ff;
}
.current{
    font-size: 35px;
    /* border-top: #e3f9ff solid 1px; */
}

button.equal{
    width: 100%;
}

button.operator{
    color: #33ffd8;
    background: #063970;
}